﻿@model IEnumerable<web_s10208269.Models.Book>

@{
    ViewData["Title"] = "View Books";
}

<h4 class="PageTitle">View Books</h4>
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewBook" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Isbn)</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Author)</th>
                    <th>@Html.DisplayNameFor(model => model.Pages)</th>
                    <th>@Html.DisplayNameFor(model => model.Qty)</th>
                    <th>Justification</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Isbn</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.Pages</td>
                    <td>@item.Qty</td>
                    <td>
                        @{
                            int rBookId;
                            string rJustification = "", errorMsg = "";
                            // An error for the row detected
                            if (TempData["BookId"] != null)
                            {
                                rBookId = Convert.ToInt32(TempData["BookId"]);
                                if (rBookId == item.Id)
                                {
                                    rJustification = TempData["Justification"].ToString();
                                    errorMsg = @TempData["Message"].ToString();
                                }
                            }
                        }
                        <form asp-controller="Vote" asp-action="Create" method="post">
                            <table>
                                <tr>
                                    <td>
                                        <input asp-for="@item.Justification"
                                               value="@rJustification" />
                                        <input type="hidden" asp-for="@item.Id" />
                                        <input type="submit" value="Add"
                                               class="btn btn-primary" />
                                        <span style="color:red;">@errorMsg</span>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}