﻿body {
    font-family: Arial;
    font-size: 14px;
}

.PageTitle {
    text-align: center;
    font-weight: bold;
    color: brown;
}

.FormContent {
    padding: 10px;
    margin: auto;
    width: 95%;
}

.col-form-label {
    text-align: right;
    font-weight: bold;
}

#mainContainer {
    border: 1px solid #000000;
    margin: auto;
    width: 80%;
    padding: 4px;
}

fieldset {
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 5px;
    background-color: antiquewhite;
}

fieldset legend {
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    color: brown;
    width: auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.loginFieldset {
    min-height: 130px;
    margin-left: 4px;
    margin-right: 0px;
}

.loginFieldset label {
    display: inline-block;
    padding: 6px;
    width: 70px;
}

.myButton {
    border: 2px solid dodgerblue;
    border-radius: 5px;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none
}

@media screen and (max-width: 918px) {
    .loginFieldset {
        min-height: 0px;
        width: 280px;
    }
}

@media screen and (max-width: 772px) {
    .flex-container {
        flex-direction: column;
    }

    .loginFieldset {
        min-height: 0px;
        width: 95%;
    }

    #mainContainer {
        padding: 0;
        border: none;
    }
}
